@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
body{
    font-family: 'Bebas Neue', cursive;
}
#Labs{ 
    background-color: rgb(143, 170, 170);
    border: 20px rgb(54, 79, 83);
    border-left-style: solid;

    padding-left: 20px;
    padding-top: 20px;
    height:200px;
    width:300px;
    float: left;
}

#Proj{
    background-color: rgb(147, 192, 153);
    border: 20px rgb(44, 65, 49);
    border-left-style: solid;

    padding-left: 20px;
    padding-top: 20px;
    height:200px;
    width:300px;
    float: left;
}